
@{
    ViewData["Title"] = "FAQ";
}


<div class="tab">
    <button class="tablinks" onclick="openFAQ(event, 'FAQ')" id="defaultOpen">FAQ</button>
    <button class="tablinks" onclick="openFAQ(event, 'Experience')">Experience</button>
    <button class="tablinks" onclick="openFAQ(event, 'Courses')">Courses</button>
    <button class="tablinks" onclick="openFAQ(event, 'Electives')">Electives</button>
    <button class="tablinks" onclick="openFAQ(event, 'MyHub')">myHub</button>
    <button class="tablinks" onclick="openFAQ(event, 'BBoard')">Blackboard</button>
    <button class="tablinks" onclick="openFAQ(event, 'PreStudy')">Pre-Study Req</button>
    <button class="tablinks" onclick="openFAQ(event, 'Misc')">Misc</button>

</div>

<div id="FAQ" class="tabcontent">
    <center>
        <h1>University of Newcastle Orientation FAQ</h1>
        <hr />
    </center>
    <p>Click on the categories listed on the tab to the left to find information on relevant topics</p>
</div>

<div id="Experience" class="tabcontent">
    <center>
        <h1>The University Experience</h1>
        <div class="blueline" style="width:325px"></div>
    </center>
    <br />

    <h2>How Does Uni Differ From HighSchool?</h2>
    <p>
        A major difference is that there is far more focus on the area of the knowledge in your studies
        to what you have specifically chosen to learn. Most of your courses will be focused around content
        covered in textbooks, it's never usually mandatory to read them but can be of major help during your studies depending
        on what course you are taking. <br /> <br />

        Unlike highschool, a lot of your course content including lectures will be available online. Your timetable for
        when you go to classes will also be vastly different and will vary from semester to semester. You may be unlucky
        enough to have a class too late or too early for you. It's suggested you attend most of your tutorials, labs and workshops
        as those can be great social learning environments during your studies. Many tutorials and workshops are more laid back than
        your average highschool classroom. Lectures are always recorded and usually streamed online alongside the face to face lecture
        so you should always be able to keep up with them. <br /> <br />

        The workload can be much larger. You will find that certain courses are a piece of cake or maybe even tests knowledge
        you already have. Other courses will have so much to cover that it can be overwhelming and your brain can barely
        scratch the surface of it. Try your best to keep your cool, don't overwork yourself but also try as best as you can.
        If you ever need help you can reach out to your lecturers, tutors and the uni's many support services.

        <h3> Mistakes to Avoid</h3>
        Students typically leave assessments to last minute. In some situations this may be unavoidable given commitments
        and time restraints. A good way to make this a less stressful experience is to do some of your assessments as early
        as you are able to. It's better to work at it slowly over time rather than all together in a short amount of time.
        That can lead to a greater learning experience overall and can improve your marks overall.<br /><br />
        Some students also tend to skip tutorials altogether. In some situations it's reasonable but you should
        definitely show up to as many as you can possible. It can be a good experience and it can help you
        understand parts of your course, figure out how to perform useful tasks and you can even get help on
        whatever assessments you have.
    </p>

    <br /> <br /> <br /> <br /> <br />
</div>


<!-- COURSES COURSES COURSES COURSES COURSES COURSES COURSES -->
<div id="Courses" class="tabcontent">
    <center>
        <h1>Courses</h1>
        <div class="blueline" style="width:120px"></div>
    </center>
    <br />

    <h2>What Courses Should I Be Taking This Semester?</h2>
    <p>
        You can find out what courses you are suggested to take using the program plan.
        You can find this plan by searching your degree on the UON website, clicking program handbook,
        and scrolling down to the program plan section. <br />
        Here's an example taken from the <a href="https://www.newcastle.edu.au/degrees/bachelor-of-computer-science">
            Bachelor of Computer Science
        </a>
    </p>

    <div style="width:90%; margin-left:auto; margin-right:auto">
        <img src="~/images/ProgramHandbook.PNG" asp-append-version="true" alt="Program Handbook button" class="image">
        <img src="~/images/ProgramHandbook2.PNG" asp-append-version="true" alt="Program Plans" class="image">
    </div>

    <p>
        Alternatively you can also find your program plan by clicking on My Details on myUON which you can find under
        "STUDY", click my program and than program information. <br />
        Once you find the program plans, all you do is look at the one that suits your major, semester and year.
        For instance if you're a Computer Science student taking Software Developement in Semester 1 2021,
        you would follow that plan. <br />
        If any changes need to occur to this plan to suit your needs, we suggest contacting your course
        coordinator for advice. Please note that certain courses only occur during either the first or second
        semester of every year. You are considered a full time student by taking at least 6 courses a year.
    </p>

    <hr />

    <h2>What are Core Courses? What are Directed Courses? What are Compulsory Major Courses?</h2>
    <p>
        If a course is listed as "Core" in your program handbook that means it's a compulsory course that everyone who takes
        the degree must complete. Similiarly a course listed as "Compulsory" also is a course that must be completed as part of your degree
        however, they are related to the Major you have decided to take during your education. If you did not know what a major is, a major lets
        you specialise in a specific area of learning under the umbrella of courses offered to students for your degree.
        Directed courses are a list of courses that are related to your major however you have the freedom to choose which ones you want to take.<br />
        <h3>When to take directed courses.</h3>
        It must be noted again all courses can only be taken during certain semesters in the year, it is possible you are unable to take all the
        directed courses you want because of how your program is structured. The easiest way to plan around this is by swapping around when you
        do electives and directed courses. You should also consider the workloads of each course and how that may affect your performance during
        your studies. Sometimes directed courses may have massive workloads and you may not want to do two of those in the same semester. If you
        want any advice on what to do or an opinion on how much work a course may have, contact your program advisor.
    </p>

    <hr />

    <h2>How do I arrange my timetable for the semester?</h2>

    <p>
        Some time after you've selected your courses for the semester you will be able to select times for your tutorials,
        labs and workshops. Lectures are generally only held at one specific times and some courses may have multiple lectures
        a week. You can learn more about how to enrol in your courses in our myHub section. <br />
        <br />
        You will be emailed about when you can and need to both select your courses and set up your timetable.
        Typically semester 1 course and timetable selection happens during the mid to late section of the summer break and
        semester 2 happens during the tail end of semester 1. You can still make any changes to your selection before the census
        date if you need to. You can find the census date here: <a href="https://www.newcastle.edu.au/dates">UON Important Dates</a>
        <br /><br />

        Now that it is time to set up your timetable, you can go to your myUON page and select "myTimetable". You should be able to see
        your courses and different slots for classes on the left hand side under "ENROLMENT". Click on a lecture and you'll see the time
        scheduled for the lecture, this could change slightly once you get closer to the actual semester but is not likely. You should than
        click on a tutorial, workshop or lab and you'll see a list of the available times that these classes will run. You have to select
        which timeslots you would prefer the most and rank them with a number. If you place a timeslot with 1 that means you want that time
        the most. It than descends from there with 2 being second most and so on.
        <br /> <br />

        Here's a suggestion from a student on how to go about selecting your times:
        <div style="width:80%; margin-left:10%">
            "What I do is open a text file or word doc and place down all the times and days of the week for 
            my lectures. I than look at the rest of my classes and figure out which ones I am locked into
            doing during a certain time and day.  This helps me rule out other times that may conflict for 
            other classes immediatedly. I than compare the remaining classes against eachother and figure out 
            which times I prefer the most and rule out times if there would be conflicting times." - Ethan
        </div>

    </p>

    <hr />

    <h2>What if I fail a course?</h2>
    <p>
        FF would appear on your transcript but you can contact your course coordinator about the exact marks you get.
        If a course is getting too much for you, we suggest talking to your lecturer or tutor about options,
        reassurance or help on improving your grade. If you drop a course by a certain date, you can avoid getting an FF on your grade.
        You can find the date here: <a href="https://www.newcastle.edu.au/dates">UON Important Dates</a> <br />
        If it is necessary you can also talk to a councillor at the university, found out more about that on our uni services page.
    </p>
    <br /> <br /> <br /> <br /> <br />
</div>


<!-- ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES  -->
<div id="Electives" class="tabcontent">
    <center>
        <h1>Electives</h1>
        <div class="blueline" style="width:120px"></div>
    </center>
    <br />

    <h2>What are electives? What electives can I take? How do I know when to take electives?</h2>
    <p>
        Electives are courses you can freely choose outside of your core and directed courses.
        You should check your program plan to see when it is recommended you take electives during your
        studies and how many you are allowed to take.
        Electives can be any course of your decision given that you meet it's prerequisites. <br /> <br />
        You can find a list of courses available from the course handbook here:
        <a href="https://www.newcastle.edu.au/course">Course Handbook</a> <br />

        You can search and filter through different courses to find the course that's right for you. To apply for the elective
        just search the course number when adding courses to your program on myHub. Please note that some courses are only
        available during certain parts of the year such as during a trimester, first or second semester or may even be a winter or
        summer course. <br /><br />
        If you have an elective for a certain semester listed on your time table but the one you want may be on during summer or winter,
        you can decide to not take an elective for that semester and wait for the summer or winter courses to begin. You may also want to plan your
        program slightly differently from your project plan given other situations arising, in this case you should ask the program advisor
        for any help you may need and also take a good look at all the courses you have to take and when they are available in the year. The easiest
        courses to move around and have interchangeably are the Electives and Directed courses.
        <br /><br />
    </p>

    <hr />

    <h2>I wanna take a course as an elective but the course handbook doesn't label it as one. What gives?</h2>
    <p>
        The "Offered as Elective" tag on the <a href="https://www.newcastle.edu.au/course">Course Handbook</a>
        only shows courses without a requisite. Courses can still be offered as electives if you meet the requirements. For instance
        <a href="https://www.newcastle.edu.au/course/MUSI2001">"Introduction to Guitar" </a>
        may not appear in that tagged list as it has a requisite but is available for students as an elective as part of the summer courses.
        If you are unsure about whether you are eligible to take a course as an elective, contact your program advisor.

        <div class="imageCon">
            <img src="~/images/IntroGuitar2.PNG" asp-append-version="true" alt="Program Plans" class="image">
            <div class="imageText">
                MUSI2001 Introduction to guitar does not appear<br />
                in course handbook under "elective" tag.
            </div>
        </div>
        <div class="imageCon">
            <img src="~/images/IntroGuitar.PNG" asp-append-version="true" alt="Program Plans" class="image">
            <div class="imageText">
                This course has a requisite but is still available as an elective <br />
                if you meet the requisite.
            </div>
        </div>
        <br /><br /><br /><br /><br />
    </p>
</div>


<!-- MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB -->
<div id="MyHub" class="tabcontent">
    <center>
        <h1>myHub</h1>
        <div class="blueline" style="width:100px"></div>
    </center>
    <br />

    <h2>What is myHub?</h2>
    <p>
        MyHub is a your central online location in managing your personal details and contacts, looking at your academic records, enroling in courses,
        choosing your major, managing students fees and more. You can find it through myUON or by clicking here:
        <a href="https://myhub.newcastle.edu.au/">myHub</a>.
        <img src="~/images/myHub.PNG" asp-append-version="true" alt="myHub" class="image">
    </p>

    <hr />

    <h2>How do I enroll in courses? How do I drop courses?</h2>
    <p>
        If you have looked through program handbook and know what courses you need to take this semester here's what you have to do.
        Click on course enrolment and you'll see a menu on the left hand side that lists add a course and drop and a course.
        <br />
        <br />
        To add a course you'll need to go to add course and than click on find courses. From there click find courses and than
        you can specify the course you want. You can search for the course by which subject, course number and campus the
        course is being held at. For instance if you wanted to find <a href="https://www.newcastle.edu.au/course/MUSI2001">"Introduction to Guitar" </a>
        you would plug in the subject "MUSI" and course number exactly being 2001 and maybe even putting in Newcastle Precinct as the location
        if you wanted to. If you need help finding all this information, we suggest looking at the <a href="https://www.newcastle.edu.au/course">Course Handbook</a>
        and finding the specific course you're looking for there. If you need to know what course to take read your program plan.
        <div style="width:90%; margin-left:auto; margin-right:auto">
            <div class="imageCon">
                <img src="~/images/addCourse.PNG" asp-append-version="true" alt="Adding a course" class="image">
                <div class="imageText">
                    Here's your course search options<br />
                    in myHub
                </div>
            </div>
        </div>
        <br />
        <br />
        If you need to drop a course click on drop course and select the course you want to drop. If you're having trouble with a course
        it is suggested you contact your course coordinator about giving you help. before making any rash decisions. You can get an extension
        on your assignments whether it be for health or compassionate grounds if you need it. You will also want to look into how dropping a
        course will effect your program plan and should contact your program advisor for help.
    </p>

    <hr />
    <h2>How do I view my results?</h2>
    <p>
        You can view your results in myHub, my Academic records and select the term you want to view. Results will only be released on the grade date.
        You can find important dates here: <a href="https://www.newcastle.edu.au/dates">University Key Dates</a>
    </p>

    <hr />
    <h2>What is HECS? What is SA HELP?</h2>
    <p>
        These are ways to help you pay off your student fees. You are elligible for these loans if you are an australian citizen and you are required
        to have a tax file number and a myGov account. HECS specifically covers the fees for all the courses you take during your Studies up to around
        $100, 000 and even more some specific degrees. For more info on HECS-HELP you can
        <a href="https://www.studyassist.gov.au/help-loans/hecs-help">click here.</a>
        <br />
        <br />
        SA-HELP on the other hand can cover things like child care, sporting and recreational activities and other student ammenities.
        For more info on SA-HELP you can <a href="https://www.studyassist.gov.au/help-loans/sa-help">click here.</a>
        <br />
        <br />
        You can use myHub to apply for these loans. Click on finances, go to the sections for both of them and fill out the form. You will need your
        Tax File Number.
    </p>
    <br /><br /><br /><br /><br />
</div>

<!-- BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD -->
<div id="BBoard" class="tabcontent">

    <center>
        <h1>Blackboard</h1>
        <div class="blueline" style="width:180px"></div>
    </center>
    <br />

    <h2>What is blackboard?</h2>
    <p>
        Blackboard is a site the univeristy uses to host all your courses content and learning material, assessment submissions,
        course announcements and getting online lectures and tutorials. Typically each course in blackboard will have discussion forums
        where you can ask questions about the course and get responses from other students, lecturers or tutors. You will typically have a place
        to find zoom links or collaborate sessions to find lectures or tutorials in an online setting. You can find your blackboard site by logging into
        your <a href="https://myuon.newcastle.edu.au/campusm/home">MyUON</a> account or you can just log into the <a href="https://uonline.newcastle.edu.au/">uni blackboard site.</a>
    </p>
    <hr />
    <h2>How does blackboard handle assessments and quizzes?</h2>
    <p>
        There are two main submission methods that the uni uses through blackboard and that can be through the blackboard system itself
        or through another system known as Turnitin. There are quite a few various ways in how your assessment submission / quiz can play out
        and it differs from course to course so you should keep an eye out for any specific instructions that you may be given.
        <br /><br />
        <h3>Blackboard Submissions</h3>
        There are quite a few ways a blackboard submission can play out. You should follow the assessment specifications for how your submission should
        specifically be assembled. You may need a cover sheet. You made need to have it in a specific file format. You may need have all your files
        inside a zip file. You are able to submit your assesment on blackboard either by uploading the file directly to blackboard or using a cloud service like dropbox.
        <br /> <br />
        If you have a quiz or exam on blackboard it can also wildly differ. Blackboard allows for multiple choice questions, file uploads for questions or text boxes to
        write in. Some online exams may have you just upload a single word or pdf document with all the questions in it. All of this depends on the course
        and you should follow the instructions provided. If the submission requires you to upload files than you are typically given more time to arrange your files or
        scan or take any photos of questions you've done on pen and paper.

        <br /> <br />

        <h3>Turnitin and Similiarity Checking</h3>
        You typically access your turnitin submission through the assessments submissions page on your courses blackboard portal. The major difference between
        a typical blackboard submission is that turnitin has a similiarity checker that checks your submissions with other submitted assessments and websites for
        any similiarities between them. This is to discourage and detect plagiarism. It is usually required that your submission be in a single PDF file when asked
        to use this submission method.<br />
    </p>
    <div style="width:50%; margin-left:auto; margin-right:auto">
        <div class="imageCon">
            <img src="~/images/turnitinChecker.PNG" asp-append-version="true" alt="turnitin check example" class="image">
            <div class="imageText">
                Personal example of turnitin checker
            </div>
        </div>
    </div>
    <br />
    <p>
        To help combat any accusation of plagiarism you should reference wherever you got your information from for you assessment. You should also upload your assessment
        early enough so if you see anything major you can make changes in time for the due date. You can check what is similiar in your submission by clicking the percentage
        that appears. This will open another window with your assessment on the left and an overview on the right. <br /> <br />
        <h3>Testimony from student:</h3>
        <div style="width:80%; margin-left:10%">
            "From personal experience, there is likely bound to be similiarities between some assessments detected if for instance you've taken some definition or
            structured a graph you made that is similiar to what you've been taught in your lectures or tutorials. A few very simple and small similiarities like this
            can mostly be ignored. For instance I had it pick up similiarities in a table of contents and a graph that contained the same headings and axis
            from lecture slides." - Ethan
        </div>
    </p>


    <br /><br /><br /><br /><br />
</div>


<!-- PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY -->
<div id="PreStudy" class="tabcontent">
    <center> 
        <h1>Pre-Study Requirements</h1>
        <div class="blueline" style="width:350px"></div>
    </center>
    <br />

    <h2>What is the Academic integrity Module of University?</h2>
    <p>
        This is the module which every transferring or new student coming to university is bound to do as it involves specific rules and regulations
        and information related to studies in university. This is to help make sure students understand what they are getting into by being a student
        and what rules and punishments apply to them around things like plagiarism and other academic misconduct. You can visit my hub and click on the
        option “hold”, there you will see an option of academic integrity module. Click that option and complete it. You can also find it in
        "Pre-Study Requirements" on blackboard.
    </p>

    <hr />

    <h2>What is the Consent Matters Module?</h2>
    <p>
        The consent matters is an important and mandatory module about understanding how consent works. This module covers communication, how to
        get consent, identifying when consent is unable to be obtained, how bystanders should react to a breach of consent and more. You only
        need to take this module once in your entire academic career. You can find it under "Pre-Study Requirements on Blackboard". It features
        3 sections featuring a different serious of videos you can watch. Since it's online it's technically not mandatory to watch all of it but
        we highly suggest at least watching some of it especially since it may dispell some of your own misconceptions about consent and is related
        to the quizes you must complete.<br />
        After those videos you are given 3 different quizzes in which you must answer questions about consent. In order to pass the module
        you need to get 100% in each quiz.<br /><br />
        A warning, this module deals with sensitive topics including sexual assault that may make you uncomfortable and impact you negatively. The uni
        has many support services including counselling and can help you get in touch with people that can help. If you need it you can found out more
        <a href="https://www.newcastle.edu.au/current-students/support/personal">here</a>.
    </p>

    <hr />


    <h2>What is the math placement test?</h2>
    <p>
        Math placement test is a test that measures your competence in some mathematical areas such as algebraic expressions, geometry,
        functions, and problem solving etc. These tests are required for many mathematical related courses. This is typically required
        only for people who have not completed Advanced or Extension Math in Highschool. Read the Course Handbook for more info on what
        are the requirements for your course. MPT tests are held in orientation week and during the first two weeks of semester. Students
        are advised to attend the test as soon as possible.
    </p>
    <h2>How should I practice for math placement test?</h2>
    <p>
        Students can practice for MPT by doing the mathematics diagnostic quiz. You can access it through blackboard by logging into
        your blackboard account and clicking the option “my other sites”. There you will see the link for MDQ. After pressing the link,
        a whole list of quizzes will be open for you and after completion you will have an idea of what MPT is all about.
    </p>
    <div class="imageCon">
        <img src="~/images/Blackboard.PNG" asp-append-version="true" alt="Program Plans" class="image">
        <div class="imageText">
            Note: on Blackboard under "blackboard" and not "Welcome".
        </div>
    </div>
    <div class="imageCon">
        <img src="~/images/MyOtherSites.PNG" asp-append-version="true" alt="My Other Sites" class="image">
        <div class="imageText">
            Scroll down and you'll find this section.
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>

<!-- MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC MISC  -->
<div id="Misc" class="tabcontent">
    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>
        You can get information by sending email to fees@newcastle.edu.au or visiting the website and click the option domestic program fees.
    </p>
    <hr />

    <h2>Where can I get information about international student’s fee?</h2>
    <p>
        You can get information by sending email to fees@newcastle.edu.au or visiting the website and click the option international program fees.
    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />
    <br /><br /><br /><br /><br />
</div>
