
@{
    ViewData["Title"] = "FAQ";
}


<div class="tab">
    <button class="tablinks" onclick="openFAQ(event, 'FAQ')" id="defaultOpen">FAQ</button>
    <button class="tablinks" onclick="openFAQ(event, 'Courses')">Courses</button>
    <button class="tablinks" onclick="openFAQ(event, 'Electives')">Electives</button>
    <button class="tablinks" onclick="openFAQ(event, 'PH')">PH</button>
</div>

<div id="FAQ" class="tabcontent">
    <h2>University of Newcastle Orientation FAQ</h2>
    <p>Click on the categories listed on the tab to the left to find information on relevant topics</p>
</div>

<div id="Courses" class="tabcontent">
    <h2>Courses</h2>
    <h2>What Courses Should I Be Taking This Semester?</h2>
    <p>
        You can find out what courses you are suggested to take using the program plan.
        You can find this plan by searching your degree on the UON website, clicking program handbook,
        and scrolling down to the program plan section. <br />
        Here's an example taken from the <a href="https://www.newcastle.edu.au/degrees/bachelor-of-computer-science">
        Bachelor of Computer Science</a>
    </p>

    <div style="width:90%; margin-left:auto; margin-right:auto">
        <img src="~/images/ProgramHandbook.PNG" asp-append-version="true" alt="Program Handbook button" class="image">
        <img src="~/images/ProgramHandbook2.PNG" asp-append-version="true" alt="Program Plans" class="image">
    </div>

    <p>
        Alternatively you can also find your program plan by clicking on My Details on myUON which you can find under
        "STUDY", click my program and than program information. <br />
        Once you find the program plans, all you do is look at the one that suits your major, semester and year. 
        For instance if you're a Computer Science student taking Software Developement in Semester 1 2021, 
        you would follow that plan. <br />
        If any changes need to occur to this plan to suit your needs, we suggest contacting your course
        coordinator for advice. Please note that certain courses only occur during either the first or second 
        semester of every year. You are considered a full time student by taking at least 6 courses a year.
    </p>

    <h2>What if I fail a course?</h2>
    <p>
        FF would appear on your transcript but you can contact your course coordinator about the exact marks you get.
        If a course is getting too much for you, we suggest talking to your lecturer or tutor about options,
        reassurance or help on improving your grade. If you drop a course by a certain date, you can avoid getting an FF on your grade.
        You can find the date here: <a href="https://www.newcastle.edu.au/dates">UON Important Dates</a> <br />
        If it is necessary you can also talk to a councillor at the university, found out more about that on our uni services page.
    </p>
    <br /> <br /> <br /> <br /> <br />
</div>

<div id="Electives" class="tabcontent">
    <h2>Electives</h2>
    <h2>What are electives? What electives can I take? How do I know when to take electives?</h2>
    <p>
        Electives are courses you can freely choose outside of your core and directed courses. 
        You should check your program plan to see when it is recommended you take electives during your
        studies and how many you are allowed to take. 
        Electives can be any course of your decision given that you meet it's prerequisites. <br /> <br />
        You can find a list of courses available from the course handbook here: 
        <a href="https://www.newcastle.edu.au/course">Course Handbook</a> <br />

        You can search and filter through different courses to find the course that's right for you. To apply for the elective
        just search the course number when adding courses to your program on myHub. Please note that some courses are only
        available during certain parts of the year such as during a trimester, first or second semester or may even be a winter or
        summer course. <br /><br />
        If you have an elective for a certain semester listed on your time table but the on you want may be on during summer or winter. 
        You can not take an elective for that semester and wait for the summer or winter courses to begin. You may also want to plan your 
        program slightly differently from your project plan given other situations arising, in this case you should ask the course coordinator 
        for any help you may need and also take a good look at all the courses you have to take and when they are available in the year.
        <br /><br />

        The "Offered as Elective" tag on the course handbook only shows courses without a requisite, courses can still be offered as electives if you
        meet the requirements. For instance "Beginners Guitar" may not appear in that tagged list as it has a requisite
        but is available for students as an elective as part of the summer courses.

    </p>
</div>

<div id="PH" class="tabcontent">
    <h2>TEST TEST TEST</h2>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA<br /><br /><br /><br /></p>
    <p> </p>
    <p> </p>
</div>



