
@{
    ViewData["Title"] = "FAQ";
}

<div class="tab">
    <button class="tablinks" onclick="openFAQ(event, 'FAQ')" id="defaultOpen">FAQ</button>
    <button class="tablinks" onclick="openFAQ(event, 'Courses')">Courses</button>
    <button class="tablinks" onclick="openFAQ(event, 'PH')">PH</button>
</div>

<div id="FAQ" class="tabcontent">
    <h2>University of Newcastle Orientation FAQ</h2>
    <p>Click on the categories listed on the tab to the left to find information on relevant topics</p>
</div>

<div id="Courses" class="tabcontent">
    <h2>Courses</h2>
    <h3>What if I fail a course?</h3>
    <p>
        FF would be appeared on your transcript but you can contact your course coordinator about the exact marks you get.
        if a course is getting to much for you, we suggest talking to your lecturer or tutor about options, 
        reassurance or help on improving your grade. If you drop a course by a certain date, you can avoid getting an FF on your grade. 
        You can find the date here (xxxxxxxxxxxxxxx)
    </p>
</div>

<div id="PH" class="tabcontent">
    <h2>TEST TEST TEST</h2>
    <div id"EPIC">AAAAAAAAAAAA</div>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
    <p>AAAAAAAAAAAAAAAAAAAAAA</p>
</div>

