
@{
    ViewData["Title"] = "FAQ";
}


<div class="tab">
    <button class="tablinks" onclick="openFAQ(event, 'FAQ')" id="defaultOpen">FAQ</button>
    <button class="tablinks" onclick="openFAQ(event, 'Courses')">Courses</button>
    <button class="tablinks" onclick="openFAQ(event, 'Electives')">Electives</button>
    <button class="tablinks" onclick="openFAQ(event, 'MyHub')">myHub</button>
    <button class="tablinks" onclick="openFAQ(event, 'BBoard')">Blackboard</button>
    <button class="tablinks" onclick="openFAQ(event, 'PreStudy')">Pre-Study Req</button>
    <button class="tablinks" onclick="openFAQ(event, 'Misc')">Misc</button>

</div>

<div id="FAQ" class="tabcontent">
    <h1>University of Newcastle Orientation FAQ</h1>
    <p>Click on the categories listed on the tab to the left to find information on relevant topics</p>
</div>

<!-- COURSES COURSES COURSES COURSES COURSES COURSES COURSES -->
<div id="Courses" class="tabcontent">
    <h1>Courses</h1>
    <hr />
    <h2>What Courses Should I Be Taking This Semester?</h2>
    <p>
        You can find out what courses you are suggested to take using the program plan.
        You can find this plan by searching your degree on the UON website, clicking program handbook,
        and scrolling down to the program plan section. <br />
        Here's an example taken from the <a href="https://www.newcastle.edu.au/degrees/bachelor-of-computer-science">
            Bachelor of Computer Science
        </a>
    </p>

    <div style="width:90%; margin-left:auto; margin-right:auto">
        <img src="~/images/ProgramHandbook.PNG" asp-append-version="true" alt="Program Handbook button" class="image">
        <img src="~/images/ProgramHandbook2.PNG" asp-append-version="true" alt="Program Plans" class="image">
    </div>

    <p>
        Alternatively you can also find your program plan by clicking on My Details on myUON which you can find under
        "STUDY", click my program and than program information. <br />
        Once you find the program plans, all you do is look at the one that suits your major, semester and year.
        For instance if you're a Computer Science student taking Software Developement in Semester 1 2021,
        you would follow that plan. <br />
        If any changes need to occur to this plan to suit your needs, we suggest contacting your course
        coordinator for advice. Please note that certain courses only occur during either the first or second
        semester of every year. You are considered a full time student by taking at least 6 courses a year.
    </p>

    <hr />

    <h2>What are Core Courses? What are Directed Courses? What are Compulsory Major Courses?</h2>
    <p>
        If a course is listed as "Core" in your program handbook that means it's a compulsory course that everyone who takes
        the degree must complete. Similiarly a course listed as "Compulsory" also is a course that must be completed as part of your degree
        however, they are related to the Major you have decided to take during your education. If you did not know what a major is, a major lets
        you specialise in a specific area of learning under the umbrella of courses offered to students for your degree.
        Directed courses are a list of courses that are related to your major however you have the freedom to choose which ones you want to take.<br />
        <h3>When to take directed courses.</h3>
        It must be noted again all courses can only be taken during certain semesters in the year, it is possible you are unable to take all the
        directed courses you want because of how your program is structured. The easiest way to plan around this is by swapping around when you
        do electives and directed courses. You should also consider the workloads of each course and how that may affect your performance during
        your studies. Sometimes directed courses may have massive workloads and you may not want to do two of those in the same semester. If you
        want any advice on what to do or an opinion on how much work a course may have, contact your program advisor.
    </p>
    <hr />
    <h2>What if I fail a course?</h2>
    <p>
        FF would appear on your transcript but you can contact your course coordinator about the exact marks you get.
        If a course is getting too much for you, we suggest talking to your lecturer or tutor about options,
        reassurance or help on improving your grade. If you drop a course by a certain date, you can avoid getting an FF on your grade.
        You can find the date here: <a href="https://www.newcastle.edu.au/dates">UON Important Dates</a> <br />
        If it is necessary you can also talk to a councillor at the university, found out more about that on our uni services page.
    </p>
    <br /> <br /> <br /> <br /> <br />
</div>


<!-- ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES ELECTIVES  -->
<div id="Electives" class="tabcontent">
    <h1>Electives</h1>
    <hr />
    <h2>What are electives? What electives can I take? How do I know when to take electives?</h2>
    <p>
        Electives are courses you can freely choose outside of your core and directed courses.
        You should check your program plan to see when it is recommended you take electives during your
        studies and how many you are allowed to take.
        Electives can be any course of your decision given that you meet it's prerequisites. <br /> <br />
        You can find a list of courses available from the course handbook here:
        <a href="https://www.newcastle.edu.au/course">Course Handbook</a> <br />

        You can search and filter through different courses to find the course that's right for you. To apply for the elective
        just search the course number when adding courses to your program on myHub. Please note that some courses are only
        available during certain parts of the year such as during a trimester, first or second semester or may even be a winter or
        summer course. <br /><br />
        If you have an elective for a certain semester listed on your time table but the one you want may be on during summer or winter,
        you can decide to not take an elective for that semester and wait for the summer or winter courses to begin. You may also want to plan your
        program slightly differently from your project plan given other situations arising, in this case you should ask the course coordinator
        for any help you may need and also take a good look at all the courses you have to take and when they are available in the year. The easiest
        courses to move around and have interchangeably are the Electives and Directed courses.
        <br /><br />
    </p>

    <hr />

    <h2>I wanna take a course as an elective but the course handbook doesn't label it as one. What gives?</h2>
    <p>
        The "Offered as Elective" tag on the <a href="https://www.newcastle.edu.au/course">Course Handbook</a>
        only shows courses without a requisite. Courses can still be offered as electives if you meet the requirements. For instance
        <a href="https://www.newcastle.edu.au/course/MUSI2001">"Introduction to Guitar" </a>
        may not appear in that tagged list as it has a requisite but is available for students as an elective as part of the summer courses.
        If you are unsure about whether you are eligible to take a course as an elective, contact your program advisor.

        <div class="imageCon">
            <img src="~/images/IntroGuitar2.PNG" asp-append-version="true" alt="Program Plans" class="image">
            <div class="imageText">
                MUSI2001 Introduction to guitar does not appear<br />
                in course handbook under "elective" tag.
            </div>
        </div>
        <div class="imageCon">
            <img src="~/images/IntroGuitar.PNG" asp-append-version="true" alt="Program Plans" class="image">
            <div class="imageText">
                This course has a requisite but is still available as an elective <br />
                if you meet the requisite.
            </div>
        </div>
        <br /><br /><br /><br /><br />
    </p>
</div>


<!-- MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB MYHUB -->
<div id="MyHub" class="tabcontent">
    <h1>myHub</h1>
    <hr />
    <h2>What is myHub?</h2>
    <p>
        MyHub is a your central online location in managing your personal details and contacts, looking at your academic records, enroling in courses,
        choosing your major, managing students fees and more. You can find it through myUON or by clicking here:
        <a href="https://myhub.newcastle.edu.au/">myHub</a>.
        <img src="~/images/myHub.PNG" asp-append-version="true" alt="myHub" class="image">
    </p>

    <hr />

    <h2>How do I enroll in courses? How do I drop courses?</h2>
    <p>
        If you have looked through program handbook and know what courses you need to take this semester here's what you have to do.
        Click on course enrolment and you'll see a menu on the left hand side that lists add a course and drop and a course.
        <br />
        <br />
        To add a course you'll need to go to add course and than click on find courses. From there click find courses and than
        you can specify the course you want. You can search for the course by which subject, course number and campus the
        course is being held at. For instance if you wanted to find <a href="https://www.newcastle.edu.au/course/MUSI2001">"Introduction to Guitar" </a>
        you would plug in the subject "MUSI" and course number exactly being 2001 and maybe even putting in Newcastle Precinct as the location
        if you wanted to. If you need help finding all this information, we suggest looking at the <a href="https://www.newcastle.edu.au/course">Course Handbook</a>
        and finding the specific course you're looking for there. If you need to know what course to take read your program plan.
        <div style="width:90%; margin-left:auto; margin-right:auto">
            <div class="imageCon">
                <img src="~/images/addCourse.PNG" asp-append-version="true" alt="Adding a course" class="image">
                <div class="imageText">
                    Here's your course search options<br />
                    in myHub
                </div>
            </div>
        </div>
        <br />
        <br />
        If you need to drop a course click on drop course and select the course you want to drop. If you're having trouble with a course
        it is suggested you contact your course coordinator about giving you help. before making any rash decisions. You can get an extension
        on your assignments whether it be for health or compassionate grounds if you need it. You will also want to look into how dropping a
        course will effect your program plan and should contact your program advisor for help.
    </p>

    <hr />
    <h2>How do I view my results?</h2>
    <p>
        You can view your results in myHub, my Academic records and select the term you want to view. Results will only be released on the grade date.
        You can find important dates here: <a href="https://www.newcastle.edu.au/dates">University Key Dates</a>
    </p>

    <hr />
    <h2>what is HECS? What is SA HELP?</h2>
    <p>
        These are ways to help you pay off your student fees. You are elligible for these loans if you are an australian citizen and you are required
        to have a tax file number and a myGov account. HECS specifically covers the fees for all the courses you take during your Studies up to around
        $100, 000 and even more some specific degrees. For more info on HECS-HELP you can
        <a href="https://www.studyassist.gov.au/help-loans/hecs-help">click here.</a>
        <br />
        <br />
        SA-HELP on the other hand can cover things like child care, sporting and recreational activities and other student ammenities.
        For more info on SA-HELP you can <a href="https://www.studyassist.gov.au/help-loans/sa-help">click here.</a>
        <br />
        <br />
        You can use myHub to apply for these loans. Click on finances, go to the sections for both of them and fill out the form. You will need your
        Tax File Number.
    </p>
    <br /><br /><br /><br /><br />
</div>

<!-- BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD BLACKBOARD -->
<div id="BBoard" class="tabcontent">
    <h2>TEST TEST TEST</h2>
    <br /><br /><br /><br /><br />
</div>


<!-- PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY PRESTUDY -->
<div id="PreStudy" class="tabcontent">
    <h1>Pre-Study Requirements</h1>
    <hr />
    <h2>What is the Academic integrity Module of University?</h2>
    <p>
        This is the module which every transferring or new student coming to university is bound to do as it involves specific rules and regulations
        and information related to studies in university. This is to help make sure students understand what they are getting into by being a student
        and what rules and punishments apply to them around things like plagiarism and other academic misconduct. You can visit my hub and click on the
        option “hold”, there you will see an option of academic integrity module. Click that option and complete it. You can also find it in
        "Pre-Study Requirements" on blackboard.
    </p>

    <hr />

    <h2>What is the Consent Matters Module?</h2>
    <p>
        The consent matters is an important and mandatory module about understanding how consent works. This module covers communication, how to
        get consent, identifying when consent is unable to be obtained, how bystanders should react to a breach of consent and more. You only
        need to take this module once in your entire academic career. You can find it under "Pre-Study Requirements on Blackboard". It features
        3 sections featuring a different serious of videos you can watch. Since it's online it's technically not mandatory to watch all of it but
        we highly suggest at least watching some of it especially since it may dispell some of your own misconceptions about consent and is related
        to the quizes you must complete.<br />
        After those videos you are given 3 different quizzes in which you must answer questions about consent. In order to pass the module
        you need to get 100% in each quiz.<br /><br />
        A warning, this module deals with sensitive topics including sexual assault that may make you uncomfortable and impact you negatively. The uni
        has many support services including counselling and can help you get in touch with people that can help. If you need it you can found out more
        <a href="https://www.newcastle.edu.au/current-students/support/personal">here</a>.
    </p>

    <hr />


    <h2>What is the math placement test?</h2>
    <p>
        Math placement test is a test that measures your competence in some mathematical areas such as algebraic expressions, geometry,
        functions, and problem solving etc. These tests are required for many mathematical related courses. This is typically required
        only for people who have not completed Advanced or Extension Math in Highschool. Read the Course Handbook for more info on what
        are the requirements for your course. MPT tests are held in orientation week and during the first two weeks of semester. Students
        are advised to attend the test as soon as possible.
    </p>
    <h2>How should I practice for math placement test?</h2>
    <p>
        Students can practice for MPT by doing the mathematics diagnostic quiz. You can access it through blackboard by logging into
        your blackboard account and clicking the option “my other sites”. There you will see the link for MDQ. After pressing the link,
        a whole list of quizzes will be open for you and after completion you will have an idea of what MPT is all about.
    </p>
    <div class="imageCon">
        <img src="~/images/Blackboard.PNG" asp-append-version="true" alt="Program Plans" class="image">
        <div class="imageText">
            Note: on Blackboard under "blackboard" and not "Welcome".
        </div>
    </div>
    <div class="imageCon">
        <img src="~/images/MyOtherSites.PNG" asp-append-version="true" alt="My Other Sites" class="image">
        <div class="imageText">
            Scroll down and you'll find this section.
        </div>
    </div>
    <br /><br /><br /><br /><br />
</div>


<div id="Misc" class="tabcontent">
    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>
        You can get information by sending email to fees@newcastle.edu.au or visiting the website and click the option domestic program fees.
    </p>
    <hr />

    <h2>Where can I get information about international student’s fee?</h2>
    <p>
        You can get information by sending email to fees@newcastle.edu.au or visiting the website and click the option international program fees.
    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />

    <h2>Where can I get information about domestic student’s fee?</h2>
    <p>

    </p>
    <hr />
    <br /><br /><br /><br /><br />
</div>
