@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">

        <div class="column">
            <div class="image-block">
                <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Click here and you'll find a series of answers to questions first year students typically have.<br>
                        You may find an answer to a question you have yourself.
                    </div>
                </div>
            </div>
            <div class="section-name">Induction: Before Uni and Week 1</div>
        </div>

        <div class="column">
            <div class="image-block">
                <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Click here and you'll find a series of answers to questions first year students typically have.<br>
                        You may find an answer to a question you have yourself.
                    </div>
                </div>
            </div>
            <div class="section-name">Frequently Asked Questions</div>
        </div>
    </div>


    <div class="row">
        
        <div class="column">
            <div class="image-block">
                <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Click here and you'll find a series of answers to questions first year students typically have.<br>
                        You may find an answer to a question you have yourself.
                    </div>
                </div>
            </div>
            <div class="section-name">Semester Look and Feel</div>
        </div>

        <div class="column">
            <div class="image-block">
                <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Click here and you'll find a series of answers to questions first year students typically have.<br>
                        You may find an answer to a question you have yourself.
                    </div>
                </div>
            </div>
            <div class="section-name">Staff Directory: Who is Who</div>
        </div>
    </div>


    <div class="row">

        <div class="column">
            <div class="image-block">
                <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Click here and you'll find a series of answers to questions first year students typically have.<br>
                        You may find an answer to a question you have yourself.
                    </div>
                </div>
            </div>
            <div class="section-name">Other Uni Services</div>
        </div>
    </div>


</div>

<div id="epic">AAAAAAAAAAAAAAAAA</div>