@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row"> 
        
        <div class="column">
            <a asp-controller="Home" asp-action="Induction">
                <div class="image-block">

                    <img src="~/images/induction.png" asp-append-version="true" alt="Induction" class="image">

                    <div class="overlay">
                        <div class="text">
                            A quick run down of what to know before coming to uni and during your first week of uni.<br>
                            
                        </div>
                    </div>

                </div>
            </a>

            <div class="section-name">Induction: Before Uni Starts and What to Know Week 1</div>

        </div>

        <div class="column">
            <a asp-controller="Home" asp-action="FAQ">
                <div class="image-block">

                    <img src="~/images/FAQ.png" asp-append-version="true" alt="FAQ" class="image">

                    <div class="overlay">
                        <div class="text">
                            Click here and you'll find a series of answers to questions first year students typically have.<br>
                            You may find an answer to a question you have yourself. 
                        </div>
                    </div>

                </div>
                </a>

                <div class="section-name">Frequently Asked Questions</div>
        </div>
    </div>


    <div class="row">
        
        <div class="column">
            <a asp-controller="Home" asp-action="Other_Services">
                <div class="image-block">
                    <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            Click here and you'll find a series of answers to questions first year students typically have.<br>
                            You may find an answer to a question you have yourself.
                        </div>
                    </div>
                </div>
            </a>
            <div class="section-name">Uni Services</div>
        </div>

        <div class="column">
            <a asp-controller="Home" asp-action="Staff">
                <div class="image-block">

                    <img src="~/images/placeholder.jpg" asp-append-version="true" alt="Avatar" class="image">
                    
                    <div class="overlay">
                        <div class="text">
                            Click here and you'll find a series of answers to questions first year students typically have.<br>
                            You may find an answer to a question you have yourself.
                        </div>
                    </div>

                </div>
            </a>
            <div class="section-name">Staff Directory: Who is Who</div>
        </div>
    </div>




</div>