
@{
    ViewData["Title"] = "Induction";
}

<center>
    <h1>Induction</h1>
    <div class="blueline" style="width:100px"></div>
</center>

<br />
<h2>Before University Starts</h2>

<p>
    The University of Newcastle provides the best experience for students regarding their studies,
    activities, and student support. We welcome our new students to join our community and be here
    as a part of the university’s family. Our skilled faculty members are there for your help.
</p>
<center>
    <iframe src="https://drive.google.com/file/d/1HfOz4f7-5lDJJUXmiaf_QWZegmwcY1na/preview" width="70%" height="480" allow="autoplay"></iframe>
</center>

<button class="servicesTab"> Before Uni Starts To-Do List</button>

<div class="panel">
    <hr />
    <center>
        <h2>WELCOME!!! <br />Here is a list of things to do and keep in mind before uni starts  </h2>
    </center>
    <p>
        <ul>
            <li><h3>Sort your accommodation:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            The University of Newcastle provides wide range of accommodation options, and you can choose one
            which suits you best. You can also live off campus if on campus facilities are out of your budget.
            You are free to choose accommodation of your choice but make sure you should book yourself in at
            least 15 days before coming to uni. For more information visit our FAQ page.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Prepare your finances:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            One of the best things you can do is to prepare your finances so that you should have an idea
            of how you are going to survive by spending money within your budget. Students should open a bank
            account and keep their money safe. If you are an international student, you can open the account once
            you’ve come here. Spend wisely.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Spend time with friends and family:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            If you are going to stay away from your home for your university, then you should spend time with
            your family and friends before you leave.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>University visit:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            When you came here, you should visit your university whenever possible. Get a university map
            and visit different buildings and spaces so that you should have an idea of the layout of the campus
            before university starts.
        </div>
    </p>


    <p>
        <ul>
            <li><h3>Join a social media group of freshers:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            This is not a very important thing to do but a new person coming to a new place can feel lonely.
            So, if you are socially connected to people like you with new experiences, you can talk to them
            and ask for any help to help keep you relaxed.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Learn how to cook:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            Not everybody knows how to cook and not everyone may like food from outside their comfort zone
            that they may have to come across studying away from home or overseas. So, to help yourself be
            more comfortable, you may want to have an idea of how to cook by yourself depending on your current
            accommodations and situation.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Follow the university on social media:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            You should follow the university on Facebook, Instagram, twitter and other social media platforms
            to keep up to date with news and events going on at the university.
            <br />
            <center>
                Find UON social media pages here:

                <a href="https://www.facebook.com/TheUniversityofNewcastleAustralia/">
                    <img src="~/images/FacebookLogo.PNG" asp-append-version="true" alt="Uni Services" style="width:5%">
                </a>

                <a href="https://www.instagram.com/uni_newcastle/?hl=en">
                    <img src="~/images/InstaLogo.PNG" asp-append-version="true" alt="Uni Services" style="width:5%">
                </a>

                <a href="https://twitter.com/Uni_Newcastle">
                    <img src="~/images/TwitterLogo.PNG" asp-append-version="true" alt="Uni Services" style="width:5%">
                </a>

            </center>

        </div>
    </p>

    <p>
        <ul>
            <li><h3>Plan for your job:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            Working with your studies can teach you much about life. Part time jobs will help you to cover your expenses.
            You can take help form your university for jobs or apply online. You may also be eligible for the government to
            cover certain expenses like with
            <a href="https://www.studyassist.gov.au/help-loans/hecs-help">HECS </a>
            or receive payment from the government through things like
            <a href="https://www.servicesaustralia.gov.au/individuals/services/centrelink/youth-allowance">youth allowance </a>
            if you need it and meet the requirements.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Your identification documents:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            You should get your photo Id, student card and other documents which can help you identify yourself.
            You can get your student card from university and photo card from service NSW office. Your student
            card is needed for staff to identify you, gain access to some services of the uni and you’ll need to identify
            yourself with it during exams.
        </div>
    </p>

    <hr />

</div>

<button class="servicesTab"> Need To Know week 1</button>

<div class="panel">
    <hr />
    <p>
        <div style="margin-left:1%; margin-right:1%">
            Each and every student who attends university for the first time had different experience.
            Some of them make friends in first place and some find them bit nervous. Our university staff
            and seniors will help you as volunteers. They will guide you with everything you want.
        </div>
    </p>
    <p>
        <ul>
            <li><h3>Your identification documents:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            Before your first week studying at the university there will be an orientation week. You will meet new people, have
            free food, and participate in many different activities. It’s a lot fun in week 0. Furthermore,
            you will have to attend the orientation on the specific date which university will give. There
            will be a lot of people to interact with. You will have a tour of university and you will be
            able to make new friends. Students will get a lot of discounted vouchers, flyers. Everyone feels
            pressure in first week, but you need to be calm. Be an extrovert and make friends.
            You'll be emailed about your orientation during the lead up to the week. You can find out more information here:
            <a href="https://www.newcastle.edu.au/study/new-students/orientation">UON Orientation for New Students</a>
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Study:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            You will be then required to set a timetable. You can find out more information in our FAQ on
            how to set up your courses and timetable. Students can take help from their course coordinator
            if they are unsure about anything. Email them at programadvice@newcastle.edu.au. In your lectures
            and tutorials, you may find yourself a bit lost while sitting in rooms between so many students
            while learning about unfamiliar topics. But it is ok. Everyone feels the same during the start and
            it will get better over time.  Make sure to keep in touch with your tutors during tutorials to help
            you work through anything you find difficult or are unable to do on your own. Collaborate with other
            students to work through problems. You can also contact the universities many support services if you
            are feeling overwhelmed and unsure about what to do here:
            <a href="https://www.newcastle.edu.au/current-students/support">University Support</a>
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Clibs and Societies:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            Visit all new societies and clubs and try to be a part of them. Go to bars and pubs on campus. Feel relaxed,
            comfortable and enjoy your new experiences here at the university. You can find out about clubs and societies here:
            <a href="https://www.newcastle.edu.au/current-students/uni-life/clubs-and-societies/find-a-club">Find A Club</a>
        </div>
    </p>


    <p>
        <ul>
            <li><h3>Registrations and documentations:</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            Complete your paper work. This thing should be done before coming to university but it is option
            for those who haven’t done it yet. Its not too late. Get your student card from Shortland building.
            Health insurance card from the insurance provider. Photo card from service NSW.
        </div>
    </p>

    <p>
        <ul>
            <li><h3>Need help?</h3></li>
        </ul>
        <div style="margin-left:1%; margin-right:1%">
            If you need any help you can visit our FAQ page to find more information on various parts of university.
            Go to our other services page to find out more info about various university services including support services.
            Explore our staff database.

        </div>
    </p>

    <hr />
    <center>
        <a href="https://www.newcastle.edu.au/">Explore the University of Newcastle website for even more information.</a>
    </center>
    <hr />

</div>

<br />
<br />



<script>
    //sets a var to coincide with an element on the page based on the Class name
    var tabs = document.getElementsByClassName("servicesTab");
    var i;
    //loops through the number of elements on the page tagged with the same class name
    for (i = 0; i < tabs.length; i++) {
        tabs[i].addEventListener("click", function () {  //"listens" for user to click one of the buttons with the same tag

            // toggle button to be a different colour on click
            this.classList.toggle("active");

            // toggles for hiding and showing content when clicking
            // gets the next element that is directly next to this element on the page
            var panel = this.nextElementSibling;

            //changes the element "display for the elements css
            if (panel.style.display === "block") { //if you click and it's set to "block" it resets the css to "none" which hides the content
                panel.style.display = "none";
            } else { //otherwise, if you click and it's set to "none" it gets set to "block" which makes the content visible
                panel.style.display = "block";
            }
        });
    }
</script>
