
@{
    ViewData["Title"] = "Uni Services";
}


<center>
    <h1>Uni Services</h1>
    <div class="blueline" style="width:200px"></div>
    <p>Click the tabs below for more info on each topic</p>
</center>

<button class="servicesTab"> Library </button>

<div class="panel">
    <hr />
    <p style="margin-left:1%; margin-right:1%">
        The library is a one of the most welcoming spaces for the students at university where they can meet,
        learn, and study. The University of Newcastle provides some of the best libraries on its campuses.
        Callaghan campus has different libraries. Auchmuty library and Huxley library at Callaghan campus
        provides you with the best facility to borrow any book, book a room for a meeting or to group study
        in the learning lounge. Opening and closing hours of the library may differ for various reasons.
    </p>

    <iframe src="https://drive.google.com/file/d/1W2U4X81Qd4bMi-hsSWis-mmexIIwRNV6/preview" width="65%" height="400" allow="autoplay"></iframe>
    <br /> <br />

    <h3>Auchmuty Library:</h3>
    <p style="margin-left:1%; margin-right:1%">
        On the western side of Callaghan campus, Auchmuty library is located near the Shortland
        building. The learning lounge is on level 3 where you can study in a group freely. On the ground
        floor there’s the AIC (Auchmuty Information Commons). There are also rooms available for
        booking as well if you want to do schedule a meeting or something else. Both spaces are open
        24/7 for students.
    </p>

    <h3>Learning Lounge:</h3>
    <p style="margin-left:1%; margin-right:1%">
        The learning lounge is on 3rd level, and you need to have a student card to access this space.
        The learning lounge is open 24/7. You can study on PCs, and you are also allowed to bring your own
        laptops with you for collaborative studies.  There is a student kitchen. Vending machine are
        there for refreshments. Microwaves are also placed there if you want to heat up your food.
    </p>

    <h3>Auchmuty Information Commons:</h3>
    <p style="margin-left:1%; margin-right:1%">
        The AIC is open 24/7. It is a space with PCs and rooms in it. Scanners, printers, and computers
        for students can be found in this area. You should have your student card if you want to print
        out anything you desire. Students can also borrow laptops and books from here in staff hours. A
        student card is required to do that as well. The AIC also has a café which is open till the afternoon.
    </p>

    <h3>Finding Books:</h3>
    <p style="margin-left:1%; margin-right:1%">
        Students can go onto the website to find journals, books, and articles by searching on the
        library search. That can be found here: <a href="https://www.newcastle.edu.au/library/access/search">Library Search</a>
        Click on this link and search for the book you want to read. Once you find the book, you can
        either go to library and ask the attendant to lend the book to you or you can also borrow online
        by clicking the e-book option. If the electronic version of that book is available, you can get it
        online. Otherwise, you will have to borrow it from the librarian. If you borrow a physical copy
        you are required to return the book back within a certain period. Otherwise, you will be
        charged with a fine every week until you make a return.
    </p>

    <h3>Document Printing:</h3>
    <p style="margin-left:1%; margin-right:1%">
        Open the document on your PC and print it by choosing the appropriate printer. You first need
        to put a balance into the printer to pay for your printing. After sending to print, go to the
        printer and swipe your student card on it and select “my print jobs” and then “release”.
    </p>
    <hr />
    <center>
        <a href="https://www.newcastle.edu.au/library">Click Here To Go To The Library Website</a>
    </center>
    <hr />
</div>




<button class="servicesTab"> Personal Support and Counselling </button>

<div class="panel">
    <hr />
    <p style="margin-left:1%; margin-right:1%">
        As we all know, a person’s mental health is as important as anyone’s physical health. You
        should take care of your mental health to help you navigate through your life and to be
        successful. If you are an international student, you could face some difficulties which may cause
        some mental stress to you as you don’t have your family here or any old friends. The Uni is here
        to help, we will treat you as your family and we will give you special treatment if needed. Feel
        free to contact counselling and support services from the Uni.
    </p>

    <iframe src="https://drive.google.com/file/d/12IIc1mM-uR2RtoTJKKF_MFY2w4FVKGPX/preview" width="65%" height="400" allow="autoplay"></iframe>
    <br />

    <p style="margin-left:1%; margin-right:1%">
        The University of Newcastle provides a wide range of facilities for student support like
        consultation services and online counselling on skype. When you are in contact with a wellbeing
        advisor, the information you share will remain confidential between you and your consultant.
        We have a team of experienced psychologists who can help you work through your problems
    </p>

    <h3>How to Access:</h3>
    <p style="margin-left:1%; margin-right:1%">
        We have a team of experienced psychologists who can help you work through your problems
        and lead you towards the solutions in any way they can. To book an appointment, go to the link
        here: <a href="https://www.newcastle.edu.au/current-students/support/personal/counselling/access-support">Access Support</a>
        There you will see an option for an online form. Open the form and kindly complete it. If
        you need help regarding the registration form, please call 4921 6622 or email counselling@newcastle.edu.au.
        Students can also visit student services at level 2 between 9:00 am to 5:00 pm and you can
        book your appointment there. You can arrange the earliest date you need whenever possible.
    </p>

    <h3>Online Drop In:</h3>
    <p style="margin-left:1%; margin-right:1%">
        There are no appointments needed for online drop ins. During semester days online drop in is available
        at different times to help you over zoom or skype. You can get the timeslots from here:
        <a href="https://www.newcastle.edu.au/current-students/support/personal/counselling/online-drop-in">Online Drop In</a>.
    </p>
    <p style="margin-left:1%; margin-right:1%">
        If you want to attend these sessions:
        <ul>
            <li>Download the skype app.</li>
            <li>Add contact Uononlinecounsellor.</li>
            <li>Send a request to be added.</li>
        </ul>
    </p>

    <h3>What kind of help will the counsellor provide me?</h3>
    <p style="margin-left:1%; margin-right:1%">
        First, a counsellor in the online session or during face to face as well will ask for your student
        card and your details just to confirm the appointment. Then they will start the session and will
        ask questions from you like what kind of problems you are facing, and what are the things going
        on in your daily life? How is your diet? What about your sleep? After this discussion the advisor
        will guide you in different ways to help lead you towards a solution of living a better and
        healthier lifestyle.
    </p>

    <p>
        You should not be worried about the information you share because all of it will be kept private
        and confidential between you and your advisor.
    </p>

    <hr />
    <center>
        <a href="https://www.newcastle.edu.au/current-students/support/personal">Click Here For More Information</a>
    </center>
    <hr />
</div>




<button class="servicesTab"> Food and Shops on Campus </button>

<div class="panel">

    <hr />
    <p>
        The University of Newcastle has a wide range of restaurants, cafés, and bars on the campus.
        Students can visit these places in university within their free time to relax and get food. When
        you will come to the university for the first-time during induction, you will also be given a tour
        to these places. Other businesses are also there on campus if a student needs to use banks, the
        post office, printing, pharmacy etc. They are all available on campus.
    </p>

    <iframe src="https://drive.google.com/file/d/1uGYjX6Lzj7wUUJEfathDPaXF7CQLbnvk/preview" width="65%" height="400" allow="autoplay"></iframe>

    <p>
        Check out our food and beverages cafes listed below:
        <ul>
            <li>Gloria jeans </li>
            <li>Mama duke café</li>
            <li>Mc larty dining</li>
            <li>Newy convenience Shortland</li>
            <li>Noodle café bar</li>
            <li>Sino food café Shortland</li>
            <li>Subway</li>
            <li>Think coffee co.</li>
            <li>Uni bakehouse.</li>
        </ul>
    </p>
    <p>
        All these restaurants mentioned above are in the Shortland building. When you visit the
        Shortland building you will see these all restaurants there. All these restaurants have the same
        opening hours during the semester from 8:00 am to 6:00 pm. Sometimes hours may differ, and
        you can check online if the restaurant you are going to visit is open or not. Feel free to use
        these restaurants and relax yourself a bit.
    </p>

    <h3>Shops:</h3>
    <p>
        We provide our students with great services.
        There are some shops out there on the campus which can help students in their daily routine.
    </p>

    <h3>Book Shop:</h3>
    <p>
        This book shop provides students with the stuff they may need for their studies like stationery and other things.
        It is located at the second level of Shortland building.
    </p>

    <h3>Printing Services:</h3>
    <p>
        Uon offers you with the wide range of printing services, designing, copying etc.
    </p>

    <h3>Post Office:</h3>
    <p>
        Post office is important place as it can help you to post documents or parcels to the people you want.
        You can send through standard post or express post. Post office is in the Shortland building.
    </p>

    <h3>University Merchandise:</h3>
    <p>
        Students can purchase the university merchandise from this shop. It is located with post office in Shortland building.
        You can get different things like: T shirts, bottles, towels, cups, hoodies, jackets and much more from this shop.
    </p>

    <h3>Pharmacy:</h3>
    <p>
        For any emergency or when you are sick, you can visit the pharmacy for your support.
        Our friendly staff at the pharmacy will help you in your difficult time and will provide you with the best treatment.
        They can also deliver it to you for free on campus if your order is above $10.
    </p>

    <hr />
    <center>
        <a href="https://www.newcastle.edu.au/campus-life/newcastle/callaghan/spaces-and-places/food,-shops-and-bars">Click Here For More Information</a>
    </center>
    <hr />
</div>




<button class="servicesTab"> Transport: Getting On Campus </button>

<div class="panel">
    <hr />
    <p>
        Students can visit Callaghan campus through various modes of transportation. They can use bus, car,
        rideshare, shuttle service, etc. getting on campus is not a very big challenge nowadays.
        As Callaghan campus is approximately 12 kilometers from Newcastle CBD, you can go there by:
    </p>

    <h3>Active travel:</h3>
    <p>
        Walking and cycling are one of the ways through which you can reach the university. There are
        off roads paths to walk and cycling space on roads as well. You can adopt it in your daily life
        if you live near university because it can be very helpful for your health and it has its own benefits
        in your daily life.
    </p>

    <h3>Bus:</h3>
    <p>
        Local bus stops are there on campus where you can access travel services around the campus.
        You can get access to the bus from the design building to the mathematics building to university drive.
        You can access more information from: <a href="https://www.newcastle.edu.au/campus-life/newcastle/callaghan/getting-here">Getting Here</a>
    </p>

    <h3>Car:</h3>
    <p>
        There is a lot of parking on campus. You must pay for the parking if you don’t have a parking permit.
        If you want to get parking permit, follow these steps:
        <ul>
            <li>Login to the online shop</li>
            <li>Follow the steps and purchase the permit</li>
            <li>Print the order</li>
            <li>Take your permit and paste it on your front mirror.</li>
        </ul>
        <br />
        There is also free parking at P16 (parking 16).
        <a href="https://www.newcastle.edu.au/campus-life/newcastle/callaghan/map">Click here to search more parking information.</a>
    </p>

    <h3>Shuttle Service:</h3>
    <p>
        University also runs a shuttle bus service during semester days. It is known as security shuttle,
        and it runs during the semester from Monday to Friday. If you want to go home at night, this service
        is available for you, and it will drop you to your destination safely near university.
        <br /> <br />
        If students are coming from new space campus. They can have a bus service from king street that will
        take students to Callaghan campus. This service runs during the semester. During your exams and semester
        periods, the shuttle runs with a 30-minute interval from 7:00 am to 10:15 am.

    </p>
    <hr />
</div>

<button class="servicesTab"> Links to Other UON Sites </button>

<div class="panel">
    <p>
        Every new student coming to university should have a look at the links below if they want some more information on 
        the services supploed by the university. Mostly our services and other pages have covered almost all the important 
        aspects but still if someone is willing to have some different kind of information, then start browsing the links 
        below.
    </p>

    <ul>
        <li>
            Want to join any club or society on campus.
            Click: <a href="https://www.newcastle.edu.au/current-students/uni-life/clubs-and-societies">Clubs and Societies</a>

        </li>
        <li>
            Information about living in Newcastle.
            Click: <a href="https://www.newcastle.edu.au/campus-life/newcastle/living-in-newcastle">Living in Newcastle</a>

        </li>
        <li>
            Want to work with us.
            Click: <a href="https://www.newcastle.edu.au/our-uni/jobs">Jobs</a>

        </li>
        <li>
            Our stories and research.
            Click: <a href="https://www.newcastle.edu.au/research/stories">Our Stories</a>
        </li>
        <li>
            Extra-curricular activities.
            Click: <a href="https://www.newcastle.edu.au/campus-life/newcastle/whats-on">Whats On</a>

        </li>
        <li>
            Explore our Newcastle city campus.
            Click: <a href="https://www.newcastle.edu.au/campus-life/newcastle/newcastle-city">Newcastle City Campus</a>"

        </li>
        <li>
            Want to be a part of school and community programs.
            Click: <a href="https://www.newcastle.edu.au/engage/school-and-community-programs">School and Community Programs</a>

        </li>
        <li>
            For help.
            Click: <a href="https://www.newcastle.edu.au/campus-life/security-safety-and-help.">Security, Safety and Help</a>

        </li>
    </ul>


</div>




    <script>
        //sets a var to coincide with an element on the page based on the Class name
        var tabs = document.getElementsByClassName("servicesTab");
        var i;
        //loops through the number of elements on the page tagged with the same class name
        for (i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener("click", function () {  //"listens" for user to click one of the buttons with the same tag

                // toggle button to be a different colour on click
                this.classList.toggle("active");

                // toggles for hiding and showing content when clicking
                // gets the next element that is directly next to this element on the page
                var panel = this.nextElementSibling;

                //changes the element "display for the elements css
                if (panel.style.display === "block") { //if you click and it's set to "block" it resets the css to "none" which hides the content
                    panel.style.display = "none";
                } else { //otherwise, if you click and it's set to "none" it gets set to "block" which makes the content visible
                    panel.style.display = "block";
                }
            });
        }
    </script>
