
@{
    ViewData["Title"] = "Other Uni Services";
}


<h1>Other Uni Services</h1>


<div>
    <h2>Library</h2>
    <p>
        The library is a one of the most welcoming spaces for the students at university where they can meet,
        learn, and study. The University of Newcastle provides some of the best libraries on its campuses.
        Callaghan campus has different libraries. Auchmuty library and Huxley library at Callaghan campus
        provides you with the best facility to borrow any book, book a room for a meeting or to group study
        in the learning lounge. Opening and closing hours of the library may differ for various reasons.
    </p>



</div>